contentpage {
    background-color: #22252A;
}
.welcomeTitle {
    color: #FFFFFF;
    font-size: 28;
}

.signInBtn {
    background-color: #E91E63;
    color: #FFFFFF;
    font-size: 18;
    height: 50;
}

button {
    background-color: #E91E63;
    color: #FFFFFF;
    font-size: 16;
    height: 45;
}

label {
    font-size: 16;
    color: #FFFFFF;
}
entry {
    height: 40;
    background-color: #FFFFFF;
    font-size: 16;
}
